.box {
    background-color: aquamarine;
    width: 80%;
    height: fit-content;
    margin: auto;
    padding: 20px;
    border: 2px solid rgba(41, 151, 202, 0.925);
    margin-top: 200px;
}

.heading1 {
    color: brown;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-decoration: none;
    text-transform: capitalize;
    text-shadow: 14px 14px 10px rgb(196, 136, 136);
}

.lorem {
    color: rgb(139, 38, 197);
    font-weight: 600;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    /* text-align: can be start, end, left, right, justify, center.*/
    text-decoration: underline;
    /* text-decoration: it can be uderline, dotted, wavy, overline solid , line-through, dashed, none, and double.*/
    line-height: 30px;
    text-transform: lowercase;
    font-size: 25px;
    padding-top: 20px;
}

.para {
    background-color: black;
    color: white;
    padding: 20px;
    text-shadow: 5px 5px 10px rgb(138, 206, 49);
    text-indent: 50px;
}